@{
    ViewData["Title"] = "Club";
}
<div class="mx-auto d-flex flex-column align-items-center text-center">
    <h2 class="purple" style="width: 50%;"> Créer un club </h2>

    <hr />

    <p> Si tu es prêt à louper ta
        scolarité tout en développant tes compétences humaines ainsi que ta capacité à
        t'organiser tu es au bon endroit !</p>

    <hr />

    <form method="post" action="/Group/CreateResult">
        <div class="form-group">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }
            <div>
                <label for="Name">Nom du groupe :</label>
                <input class="form-control" type="text" id="Name" name="Name" value=@ViewBag.Name required>
            </div>
            <br />
            <br />
            <div>
                <label for="Description">Description :</label>
                <input class="form-control" id="Description" name="Description" value=@ViewBag.Description
                    required></input>
            </div>
            <br />
            <br />
            <div>
                <button class="btn btn-primary" type="submit">Créer le groupe</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}