@model ENSC.Models.Group

@{
    ViewData["Title"] = "Delete";
}
<div class="mx-auto d-flex flex-column align-items-center text-center">
    <h2 class="purple" style="width: 50%;">Confirmation de suppression d'un club</h2>

    <hr />

    <form method="post" action="/Event/DeleteEvent">
        <div class="form-group">
            Etes-vous sûrs de vouloir supprimer le club @Model.Name ? <br />
            Cela entrainera la suppression de tous les évènements organisés par ce club.
        </div>
        <br />
        <a class="btn btn-outline-warning" asp-area="" asp-controller="Group" asp-action="DeleteGroup"
            asp-route-id="@Model.Id">Supprimer</a>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Group" asp-action="Index">Annuler</a>
    </form>
</div>