@model IEnumerable<ENSC.Models.Role>

@{
    ViewData["Title"] = "Roles";
}

<h1 class="text-center">Roles</h1>
<h1 class="text-center"><a class="btn btn-outline-secondary col-6" asp-area="" asp-controller="Role"
        asp-action="Create">Créer un
        role</a></h1>
<hr />
<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card border-dark">
                <div class="card-header bg-ENSC text-center text-white fw-bold fs-4">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="card-body">
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
            </div>
        </div>
    }

</div>