html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-header{
  background-color: rgb(73, 22, 87);
}

.btn-BDE{
  border-color: rgb(226, 43, 43);
  color: rgb(226, 43, 43);
}

.btn-BDS{
  border-color: rgb(43, 226, 70);
  color: rgb(43, 226, 70);
}

.btn-BDA{
  border-color: blue;
  color: blue;
}