html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2 rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-ENSC {
  background-color: rgb(73, 22, 87);
}

.purple {
  color: rgb(73, 22, 87);
}

.btn-BDE {
  border-color: rgb(226, 43, 43);
  color: rgb(226, 43, 43);
}

.btn-BDS {
  border-color: rgb(43, 226, 70);
  color: rgb(43, 226, 70);
}

.btn-BDA {
  border-color: blue;
  color: blue;
}

  .orange {
    border-color: #FFC300;
  }

  .purple {
    border-color: #39005E;
  }

.select-size{
  font-size: small;
}