@model ENSC.Models.Event

@{
    ViewData["Title"] = "Create";
    var groupList = ViewData["Group"] as SelectList;
}
<div class="mx-auto d-flex flex-column align-items-center text-center">
    <h2 class="purple" style="width: 50%;">Créer votre évènement !</h2>

    <hr />

    <form method="post" action="/Event/CreateEvent">
        <div class="form-group">
            <div class="form-group">
                <label for="GroupId" class="col-form-label">Club créateur de l'évènement</label>
                <br />
                <select name="GroupId" class="form-control" required asp-items="@groupList"></select>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label for="Name">Nom de l'évènement</label>
                <br />
                <input type="text" name="Name" id="Name" class="form-control" required></input>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label for="Description">Description de l'évènement</label>
                <br />
                <textarea name="Description" id="Description" class="form-control" required></textarea>
            </div>
            <br />
            <br />
            <div>
                <button class="btn btn-primary" type="submit">Ajouter l'évènement</button>
            </div>
        </div>
    </form>
</div>