@model ENSC.Models.Event

@{
    ViewData["Title"] = "Events";
}

<div class="container text-center">
    <div class="row border-purple">
        <div class="col-4 align-self-center">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <p class="text-muted"> @Html.DisplayFor(model => model.Date) </p>
            <a href="#" class="btn btn-BDS btn-sm">@Html.DisplayFor(model => model.Group.Name)</a>
        </div>
        <div class="col">
            <img src="/interpromo.jpg" class="rounded img-fluid p-3" alt=" Photo évènement">
        </div>
    </div>
    <br /><br />
    <div class="row">
        <h5 class="text-center">@Html.DisplayFor(model => model.Description)</h5>
    </div>
</div>
