@{
    ViewData["Title"] = "Events";
}

<h1 class="text-center">Evènements</h1>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <div class="card border-dark mb-3">
            <div class="card-header text-center text-white fw-bold fs-4">
                Interpromo
            </div>
            <div class="card-body">
                <img src="/interpromo.JPG" class="img-fluid" alt="Photo évènement">
                <p class="card-text text-muted"> 2 Décembre 2022 </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-BDS btn-sm">BDS</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-dark mb-3">
            <div class="card-header text-center text-white fw-bold fs-4">
                Gala
            </div>
            <div class="card-body">
                <img src="/gala.jpg" class="img-fluid" alt="Photo évènement">
                <br/>
                <p class="card-text text-muted"> 1 Décembre 2022 </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-BDE btn-sm">BDE</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-dark mb-3">
            <div class="card-header text-center text-white fw-bold fs-4">
                WES
            </div>
            <div class="card-body">
                <img src="/ski.jpeg" class="img-fluid" alt="Photo évènement">
                <br/>
                <p class="card-text text-muted"> 13, 14 et 15 Décembre 2022 </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-BDS btn-sm">BDS</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-dark mb-3">
            <div class="card-header text-center text-white fw-bold fs-4">
                Afterwork de noël
            </div>
            <div class="card-body">
                <img src="/noel.jpeg" class="img-fluid" alt="Photo évènement">
                <br/>
                <p class="card-text text-muted"> 12 Décembre 2022 </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-BDE btn-sm">BDE</a>
                <a href="#" class="btn btn-BDS btn-sm">BDS</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card border-dark mb-3">
            <div class="card-header text-center text-white fw-bold fs-4">
                WEI
            </div>
            <div class="card-body">
                <img src="/wei.JPG" class="img-fluid" alt="Photo évènement">
                <p class="card-text text-muted"> 15 Octobre 2022 </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-sm btn-BDE">BDE</a>
            </div>
        </div>
    </div>
</div